body {
    font-family: Montserrat;
    background-image: url("img/bg.png");
    background-size: cover;
    height:100%;
    color: #FFF;
}

#h2_panel{
    margin-top: 5px;
}

html {
    height:100%;
    overflow-y: hidden;     /* disable scroll*/
}

#container {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#panel {
    position: fixed;
    top: 10px;
    left: 10px;
    border-radius: 15px;
    border: 2px solid #FFFFFF;
    padding: 10px;
}

#canvas1 {
    z-index: -1;        /* canvas at the bottom*/
    position:absolute;
    left:0;
    top:0;
    width: available;
}